.App-header {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(30, 30, 30);
  background-size: cover;
  font-family: "Poppins", sans-serif;
  color: white;
  overflow: hidden;
}

html,
body {
  overflow-y: auto; /* or scroll */
  scroll-behavior: smooth;
}

.hero-section {
  background-image: url("/public/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
