/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


body {
  font-family: 'Montserrat', sans-serif;
}

/* For your heading (like "VENKATESH") */
.heading-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800; /* Extra Bold */
  color: #FF3B3B; /* same red from your image */
}

/* For normal text */
.text-normal {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; /* Regular */
  color: #ccc; /* adjust as needed */
}

/* For sub-heading (like Full Stack Developer) */
.sub-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; /* Semi-Bold */
  color: #FF3B3B;
}
